body {
    background-color: #f8f9fa !important;
}

h2,
label {
    color: #000;
}

.tituloHeader {
    font-size: 2rem !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

/* .formCotizacion { */
/* display: flex; */
/* flex-flow: row wrap; */
/* } */

.boxborder {
    /* border: 1px solid #000000; */
    border-radius: 5px;
}

.boxborder:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(230, 53, 97, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(230, 53, 97, 1);
    box-shadow: 0px 0px 20px 0px rgba(230, 53, 97, 1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    */
}

.imgServicios {
    width: 100%;
    height: 350px;
    /* -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; */
    /* background-color: red; */

}


/* .imgServicios:hover { */

/* -webkit-filter: blur(0);
    filter: blur(0); */
/* } */


.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 25px;
}

.boxImg {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    opacity: 0.4;
}

.opacity:hover {
    cursor: pointer;
    opacity: 0;
    transition: .3s ease-in-out;
}

.container-g {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-1 {
    grid-column: 1/-1;
}

.slider {
    /* display: flex; */
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slider .boxSlider {
    animation: cambio 10s infinite alternate;
    width: 300%;
    display: flex;
}

.boxSliderImg {
    width: 100%;
}

.boxSliderImg img {
    width: 100%;
}


@keyframes cambio {

    /* 0% { margin-left: 0;} */
    /* 30%{margin-left: -100%;} */
    33% {
        margin-left: -100%;
    }

    /* 56%{margin-left: -200%;} */
    66% {
        margin-left: -200%;
    }

    /* 99%{margin-left: -300%;} */
    /* 100%{margin-left: -300%;} */
}


.item2 {
    grid-column: 2/4;
}

.item4 {
    grid-column: 1/3;
}

.item5 {
    grid-column: 3/5;
}

.text-muted {
    color: #000000;
}

.cajatexto {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.color-w {
    color: white;
}

.bg-about {
    background: #1d3775;
}

.container-grid-pagos {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
}

.container-grid-pagos div>img {
    width: 100%;
}

.pageHome {
    color: tomato;
}

.bg-purple {
    background: linear-gradient(#667eea, #3e77cc);
}

.page-footer {
    background: #343a40 !important;
}



.container-grid-contactenos {
    display: grid;
    grid-template-columns: 0.6fr 1fr;

    /* justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.text-format {
    color: #000;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-grid-our {
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr)  50px;
    grid-gap: 20px;
}

.box_Our {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    padding: 20px;
}

.box_Our-1 {
    grid-column: 2/3;
}

.box_Our-2 {
    grid-column: 3/4;
}

.grid-container-img {
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/4;
}

.grid-contactenos {
    grid-column: 2/3;
}

/* traslate css from template */
header.masthead {

    background-attachment: scroll;
    background-size: cover;
    color: #000;
}

header.masthead h1 {
    font-size: 2.25rem;
}

header {
    display: block;
}

#mainNav {
    background-color: transparent;
    color: black !important;
    transition: background-color 0.2s ease;
}

.page-section {
    padding: 2rem 0;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.boxanimation_1 {
    position: relative;
    /* left: -350px; */
    animation: trasladoLeftRigth 3s linear 1;
}

.boxanimation_2 {
    position: relative;
    animation: trasladoRigthLeft 3s linear 1;
}

.boxanimation_3 {
    position: relative;
    /* left: -350px; */
    animation: trasladoLeftRigth 3s linear 1;
}

.boxanimation_4 {
    position: relative;
    animation: trasladoRigthLeft 3s linear 1;
}

#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
.cajaTextHead{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cajaTextHead>h2{
    font-size: 50px;
}
#formulario{
    background: url("../assets/img/wave_2.svg");
    /*  */
    width: 100%;
}

@keyframes trasladoLeftRigth {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(-50%)
    }

    100% {
        transform: translateX(0%)
    }
}

@keyframes trasladoRigthLeft {
    0% {
        transform: translateX(100%)
    }

    /* 25% {
        transform: translateX(-240px) 
    }*/

    50% {
        transform: translateX(50%)
    }
    100% {
        transform: translateX(0%)
    }
}

@media (min-width:300px) and (max-width:920px) {
    .formCotizacion {
        display: flex;
        flex-flow: column wrap;
    }

    .slider,
    .boxSliderImg img {
        height: 40vh;
    }

    .box_Our-1,
    .box_Our-2{
       grid-column: 1/-1;
    }

    .item {
        grid-column: 1/-1;
    }

    .imgServicios {
        width: 100%;
    }

    .item-1 {
        flex-direction: column;
    }

    .container-grid-contactenos {
        grid-template-columns: 1fr;
    }

    .grid-contactenos {
        grid-column: 1/-1;
    }

    .boxImgOwn {
        width: auto;
    }

    .boxImgOwn>img {
        width: 100%;
    }

    .divider-header {
        display: none;
    }

    .tituloHeader {
        font-size: 1.5rem;
        white-space: pre-wrap;
        margin: 2rem 0px;
    }

    .grid-container-img {
        display: none;
    }
}

@media (min-width:902px) {
    header.masthead {
        /* height: auto; */
        /* min-height: 40rem; */
        /* padding-top: 4.5rem; */
        padding-bottom: 0;

        /* f0f1f3 */
    }

    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

}